<launch>
  <arg name="opendriveFilePath" default=""/>

  <!-- Object Tracking -->
  <include file="$(find scenario_objects)/launch/kf_tracker.launch">
  </include>
  
  <!-- Mission Planning -->
  <include file="$(find planner_launch)/launch/mission_planning.launch">
  </include>

  <!-- Motion Planning -->
  <include file="$(find planner_launch)/launch/motion_planning.launch">
  </include>

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find scenario_sim)/config/op_viz.rviz" /> -->

</launch>
